<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<p></p>
<div class="container">
	<div class="card bg-light">
	<article class="card-body mx-auto" style="max-width: 400px;">
		<h4 class="card-title mt-3 text-center">Login</h4>
		<form [formGroup]="loginForm" (ngSubmit)="login()">
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				 </div>
				<input formControlName="email" class="form-control" placeholder="Email" type="text">
			</div>
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-key"></i> </span>
				 </div>
				<input name="password" formControlName="password" class="form-control" placeholder="Password" type="password">
			</div>
			                        
			<div class="form-group">
				<button class="btn btn-primary btn-block">
					 Login
				</button>
			</div>     
			<div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
			<!--<div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div> -->
																	  
			<p class="text-center">Don't have an account? <a routerLink="/register" routerLinkActive="active">Sign Up</a> </p>                                                                 

		</form>
	</article>
	</div> 
	
	</div> 
	