#start {
  margin:auto;
  padding-left: 40%;
  padding-top: 10%;
}

/* #self-view-container{
  position: absolute;
    left: 700px;
    display: block;
    overflow: hidden;
}
#remote-view-container{
  position: absolute;
    left: 700px;
    display: block;
    overflow: hidden;
} */
/* .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

.container {
  display: flex;
  justify-content: space-between;
}
.container div {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
}

.split {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}