
<script src="/socket.io/socket.io.js"></script>


<div class="container-fluid">
    <div class="row" id="chat-room">
  
      <p *ngIf="connected" id="topText">Talking with {{remoteuser}}</p>
  
      <!-- <div class="col-lg-12"> -->
        <video id="remote-view" class="remoteview" (mousemove)="myFunction($event)" autoplay #video2></video>
        <video id="self-view" class="selfview" autoplay #video1></video>
      <!-- </div> -->
      <canvas id="drawing"></canvas>
  
    </div>
  
    <div class="footer">
      
      <button *ngIf="connected" class="btn btn-outline-danger ml-4 mt-2" id="startButton" (click)="screenShare()">Screen
        share</button>
      <div id="errorMsg"></div>
  
      <!-- <button *ngIf="connected" class="btn btn-outline-danger ml-4 mt-2" (click)="requestControl()" type="button"
        style="margin-left: 450px;"> Get control</button> -->
  
      <button *ngIf="connected" class="btn btn-outline-danger ml-4 mt-2" id="stop" (click)="endCall();" type="button"
        style="margin-left: 450px;"> End Call</button>
    </div>
   
  
  
  
    <div id="start" class="videostart">
      <div class="card bg-light">
        <article class="card-body mx-auto" >
  
          <mat-form-field appearance="fill">
            <input matInput id="code-input" placeholder="Enter your code" [(ngModel)]="codeInput" />
          </mat-form-field>
  
          <button class="btn btn-outline-primary" id="start-button" [disabled]="codeInput.length < 9">
            Start Video Chat</button>
  
        </article>
      </div>
    </div>
  </div>

  <script>
    var robot = require("robotjs");
    
    function myFunction(e) {
        console.log(robot);
      var x = e.clientX;
      var y = e.clientY;
      var coor = "Coordinates: (" + x + "," + y + ")";
      console.log(coor);
      
    }
    

    </script>

