<!--view student-->
<table id="calendar">
    <button  (click)="onPreviousMonth()"> Previous </button>
    <button  (click)="onNextMonth()"> Next </button>
    <caption>{{ calendarService.getMonthName(monthNumber) }} &nbsp; {{ year }}</caption>
   
    <tr class="weekdays">
      <th scope="col" *ngFor='let weekDay of weekDaysName'>
        {{ weekDay }}
      </th>
    
    </tr>
  
    <tr class="days">
      <td *ngFor='let day of monthDays' class="day">
        <div>{{ day.number }}</div>
        <div *ngIf="day.number===1" class="event">
            <a href="javascript:void(0);" (click)="div1Function()">
              <div class="event-desc">
                  Test
              </div>
          </a>
         </div>
        
      </td>
      
    </tr>
   
  </table>

<div *ngIf="div1">
  <div class="event-desc">
    Test
  </div>
  <div class="event-time">
    1:00pm to 3:00pm
  </div>
  <div class="event-host">
    prof. Roxana Lela
  </div>
</div>

