<div class="row">
	<div class="sidenav">
		<ul id="menu">
		<a (click)="openProfile();"><li class="material-icons">home</li></a>
        <a (click)="openMessages();"><li class="material-icons">sms</li></a>
        <a (click)="logout();"><li class="material-icons">logout</li></a>
	</ul>
	</div>

	<div class="content">
		<div class="rowe">
			<div class="column lefte">
				<div class="user-list-col wt-justify cell-border">
					<app-utilizatori class="user-container" (receiverUpdated)="onReceiverChange($event)">
					</app-utilizatori>
				</div>
				
				<div>
				</div>
			</div>
			<div class="column righte">
				<div>
					
					<div *ngIf="receiver !== null && receiver !== undefined && receiver !== ''" class="receiver-header">
						Talk to {{receiver}}</div>
						<div *ngIf="receiver === null || receiver === undefined || receiver === ''" class="receiver-header">
							<i>select an user from list</i></div>
				</div>
				<div class="wt-justify cell-border">
					<app-mesaje [email]="email" class="message-wrapper"></app-mesaje>
				</div>
				


			</div>
		</div>



	</div>
</div>