<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<p></p>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	
	<form [formGroup]="registerForm" (ngSubmit)="onSave()">

	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input formControlName="firstName" class="form-control" placeholder="First name" type="text"
		[ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
		<div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
			<div *ngIf="f.firstName.errors.required">First name is required</div>
		</div>
    </div> 

	<div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
    	<input formControlName="lastName" class="form-control" placeholder="Last name" type="text"
		[ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
		<div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
			<div *ngIf="f.lastName.errors.required">Last name is required</div>
		</div>
    </div>

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input formControlName="email" class="form-control" placeholder="Email address" type="email"
		[ngClass]="{ 'is-invalid': submitted && f.email.errors }">
		<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
			<div *ngIf="f.email.errors.required">Email is required</div>
		</div>
    </div> 
    
    <div class="form-group input-group" >
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input formControlName="password" class="form-control" placeholder="Create password" type="password"
		[ngClass]="{ 'is-invalid': submitted && f.password.errors }">
		<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
			<div *ngIf="f.password.errors.required">Password is required</div>
			<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
		</div>
    </div> 

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input formControlName="passwordconfirm" class="form-control" placeholder="Repeat password" type="password"
		[ngClass]="{ 'is-invalid': submitted && f.passwordconfirm.errors }">
		<div *ngIf="f.passwordconfirm.touched && f.passwordconfirm.invalid" class="invalid-feedback">
			<div *ngIf="f.passwordconfirm.errors.required">Password Confirmation is required.</div>
			<div *ngIf="f.passwordconfirm.errors.confirmedValidator">Password and Confirm Password must be match.</div>
		</div>
    </div>       

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary btn-block">
			<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
			 Create Account 
		</button>
    </div>   

    <p class="text-center">Have an account? <a routerLink="/login" routerLinkActive="active">Log In</a> </p>                                                                 
</form>
</article>
</div> 
</div> 

