
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!---
<div class="container">
    <div class="row">
    <div class="col-md-1 vertical-center">
       <button type="button"><i class="fa fa-user-circle" (click)="openProfile()"></i></button>
        <button type="button"><i class="fa fa-comments-o" (click)="openMessages()"></i></button>
        <button type="button"><i class="fa fa-group" (click)="openPeople()"></i></button>
    
    </div>
    <div class="col-md-9 no-float">
        <app-user-profile *ngIf="action === 'user-profile'"></app-user-profile>
        <app-people *ngIf="action === 'people'"></app-people> 
        <app-messages *ngIf="action === 'messages'"></app-messages> 
        <app-calendar *ngIf="action === 'calendar'"></app-calendar>
        <app-notes *ngIf="action === 'notes'"></app-notes> 
        <app-settings *ngIf="action === 'settings'"></app-settings>
    </div>
        <div class="col-md-1 vertical-center">
             <button type="button"><i class="fa fa-th-list" data-toggle="collapse" (click)="openCalendar()"></i></button>
             <button type="button"><i class="fa fa-sticky-note" (click)="openNotes()"></i></button>
             <button type="button"><i class="fa fa-cog" (click)="openSettings()"></i></button>
         
    </div>
   
    </div>
</div> 
-->

